body{
    background-color: blueviolet;
}

h1{
    color:white;
    border:double;
}

.titulo{
    color:rgb(254, 254, 255);
    text-align: center;
}



button{
    color:white;
    font-size:50px;
}

.imagem-flor{
    width: 400px;
}